@tailwind base;
 input:invalid, textarea:invalid, select:invalid { box-shadow: none; }
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@import '_prism.scss';

/**
 Inline code styles
 */
.prose :where(code):not(:where([class~="not-prose"] *)) {
  @apply text-gray-700 bg-gray-100;
      padding: 0.3rem 0.5rem;
    font-weight: 500;
}
.prose :where(code):not(:where([class~="not-prose"] *))::before {
  display: none;
}
.prose :where(code):not(:where([class~="not-prose"] *))::after {
  display: none;
}


/*
 * Mona Sans
 */
@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/mona-sans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/mona-sans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-style:normal;
  font-stretch: 75% 125%;
}

/*
 * Fira Code
 */
@font-face {
  font-family: 'Fira Code';
  src:
    url('/fonts/fira-code/FiraCode.woff2') format('woff2 supports variations'),
    url('/fonts/fira-code/FiraCode.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}